.hidden {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
    display: none !important;
}

#watermark {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    color: #fff;
    padding: 6px 16px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.6;
}

#infoBox {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border: 2px solid #2c4174;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 5;
    text-align: center;

    /* Transición suave para aparecer y desaparecer */
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
}

#infoBox h2 {
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
    color: #ecf023;
}

#infoBox p {
    font-size: 0.9rem;
    margin: 0;
    color: #cccccc;
}

/* Estilo base para el botón de baile */
#danceButton {
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #0c0c0c;
    background: linear-gradient(135deg, #ecf023, #7bff61);
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Efecto al pasar el mouse (para escritorio) */
#danceButton:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#back-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border: 5px solid #1e7e34;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    opacity: 0.8;
}

#back-button:hover {
    background-color: #1e7e34;
}